/* HOME CSS */

.home img
{
 width: 99%;
 height: 590px;
 object-position: center;
 object-fit: cover;
}

.homecontent 
{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

 .homecontent h1
{
  left: 20%;
  color: #ffffff;
  font-size: 50px;
}

 .homecontent form
 {
  color: #ffffff;
    margin-top: 10px;
 }


@media screen  and (max-width: 600px)
  {
    .home img
{
  height: 600px;
}
.homecontent h1
{
  font-size:40px;
}
  }