<!-- HOME COMPONENT -->

<div class="banner">
    <div class="content">
      <h1>Fresh Cooked Food <br/>At your Door.</h1>
      <a routerLink="menu">ORDER NOW<i class="bi bi-arrow-right"></i></a>
    </div>
</div>

 <!--step-->

<div class="container mt-5 mb-4">
   <h1 class="text-center mb-3">How To Get <span class="highlight">Fresh Food</span></h1> 
<div class="row mt-5">

<!--one-->

    <div class="col-lg-4 mt-2">
       <div class="stepBox">   
         <h1>1</h1> 
         <p>select food</p>  
       </div>
    </div>

 <!--two-->    

    <div class="col-lg-4 mt-2">
        <div class="stepBox">
          <h1>2</h1> 
          <p>fill the details</p>  
       </div>
    </div>

 <!--three-->   

    <div class="col-lg-4 mt-2">
        <div class="stepBox">
          <h1>3</h1> 
          <p>your order delivered in minutes</p>  
        </div>
    </div>
</div>
</div>

<!--foodbox-->

<div class="container mt-4 mb-4">
   <h1 class="text-center">Customers<span class="highlight">Favourites Food</span></h1>
   <div class="row">
      <div class="col-lg-3" *ngFor="let fd of foodData" >
        <div class="foodbox">
          <img src="{{fd.image}}"/>
          <h1>{{fd.name}}</h1>
          <p>{{fd.price | currency:'INR'}}</p>
        </div>
      </div>
   </div>
   <a routerLink="menu"class="viewmorebtn">view more<i class="bi bi-arrow-right"></i></a>
</div>

